@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles.css */
.container {
  width: 90%;
    padding: 25px 0;
}
.wrapper{
  margin: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}
.custom-border {
 max-width:430px;
}
.text-center{
display: flex;
flex-direction: row;
column-gap: 4px;
align-items: center;
justify-content: center;
}
.logo{
margin-bottom: 5px;
}

.custom-error {
  color: #ff0000; /* Your text-red-500 styles here */
}

.custom-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #172554; /* Your button background color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:disabled {
  background-color: #ccc; /* Your disabled button background color */
  color: #888;
  cursor: not-allowed;
}

.custom-document {
  height: 560px;
    
    overflow: hidden;
}