@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles.css */
.container {
  width: 90%;
    padding: 25px 0;
}
.wrapper{
  margin: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}
.custom-border {
 max-width:430px;
}
.text-center{
display: flex;
flex-direction: row;
column-gap: 4px;
align-items: center;
justify-content: center;
}
.logo{
margin-bottom: 5px;
}

.custom-error {
  color: #ff0000; /* Your text-red-500 styles here */
}

.custom-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #172554; /* Your button background color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:disabled {
  background-color: #ccc; /* Your disabled button background color */
  color: #888;
  cursor: not-allowed;
}

.custom-document {
  height: 560px;
    
    overflow: hidden;
}
.qrcode{
  display: flex;
  justify-content: center;
  max-width:300px;
  padding: 0.5rem 1rem;
  overflow: hidden;
  border: 1px solid  #ccc;
}

.qrc-editor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 36px;
  margin: auto;
  padding: 25px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.download-button{
  background-color: #1d357b;
  color: #fff;
  border-radius: 5px;
  padding: 6px 12px;
  max-width: 50%;
}
.qrcCode{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.qrc-logo{
  
}
.file-upload {
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 8px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.upload-menu{
  display: flex;
  align-items: start;
  border-radius: 28px;
  background-color: #f7f7f7;
    padding: 0px 12x;
  justify-content: start;
  margin: auto;
    max-width: 800px;
}


.login-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.login-box {
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  max-width: 320px;
  padding: 12px 36px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
/* src/App.css */
button {
  background-color: #1d357b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #284284;
}
/* CSS for modern input fields */

/* Input container */
.input-container {
  position: relative;
  margin: 10px 0;
}

/* Label */
.input-container label {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  font-size: 16px;
  color: #999; /* Label color */
}

/* Input field */
.input-container input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc; /* Input border color */
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.2s ease-in-out;
  background: #fff; /* Input background color */
}

/* Input field on focus */
.input-container input:focus {
  border-color: #1d357b; /* Border color on focus */
  outline: none;
}

/* Input field has value */
.input-container input:valid + label,
.input-container input:focus + label {
  top: -20px;
  font-size: 14px;
  color: #1d357b; /* Label color on focus */
}

/* Container for input and label */
.input-field {
  display: flex;
  flex-direction: column;
}

/* Button */
.input-container button {
  width: 100%;
  padding: 10px;
  background-color: #1d357b; /* Button background color */
  border: none;
  border-radius: 5px;
  color: #fff; /* Button text color */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Button on hover */
.input-container button:hover {
  background-color: #284284; /* Button background color on hover */
}

/* Error message */
.error-message {
  color: #ff0000; /* Error message color */
  font-size: 14px;
  margin-top: 5px;
}
